<div class="buttons">
    <ul class="buttons_items">
        <li class="button_item_single">
            <a href="#" class="header__link" routerLink="/parques">
                <img class="content__button" src="assets/img/park.png" >
                <p>Parques</p>
            </a>
        </li>
        <li class="button_item_single">
            <img class="content__button" src="assets/img/calculator.jpg" >
            <p>Calculadora</p>
        </li>
        <li class="button_item_single">
            <img class="content__button" src="assets/img/data.webp" >
            <p>Datos</p>
        </li>

    </ul>

  </div>
