<div class="welcome__banner">
    <p class="welcome__font">Bienvenido a Aire al Parque, un sistema de fomento de actividad fisica en parques y zonas verdes de la ciudad<br>
  Analizamos los parametros de calidade del aire de los parques del distrito,<br> pronosticamos las condiciones de la calidad del aire 
      y sugerimos <br>tipos de actividad fisica acorde al usuario
    </p>
</div>
<div class="buttons">
    <ul class="buttons_items">
        <li class="button_item_single">
            <a href="#" class="header__link" routerLink="/parques">
                <img class="content__button" src="assets/img/park.png" >
                <p>Parques</p>
            </a>
        </li>
        <li class="button_item_single">
            <a href="#" class="header__link" routerLink="/calculadora">
                <img class="content__button_calculator" src="assets/img/calculator.png" >
                <p>Calculadora</p>
            </a>
        </li>
        <li class="button_item_single">
            <a href="#" class="header__link" routerLink="/premium">
            <img class="content__button" src="assets/img/data.webp" >
            <p>Premium</p>
            </a>
        </li>
    </ul>

  </div>
