<div class="container">
  <div class="header">
      <img class="header__logo"  src="assets/img/piranga.png" >
      <nav class="header__navigation">
          <ul class="header__listItems">
              <li class="header__item">
                  <a class="header__link" href="#" routerLink="/formacion"></a>
              </li>
              <li class="header__item">
                  <a class="header__link" href="#" routerLink="/principalParques">Aire en mi parque</a>
              </li>
              <li class="header__item">
                  <a class="header__link" href="#" routerLink="/reporte" (click)="authService.loginWithGoogle()">Iniciar sesión</a>
              </li>
          </ul>
      </nav>
 
  </div>
  <div class="banner">
  </div>
  
  <div class="">
          
      <router-outlet></router-outlet>
  </div>
</div>


