<div class="container">
  <div class="header">
      <img class="header__logo"  src="assets/img/piranga.png" >
      <nav class="header__navigation">
          <ul class="header__listItems">
              <li class="header__item">
                  <a class="header__link" href="#" routerLink="/formacion"></a>
              </li>
              <li class="header__item">
                  <a class="header__link" href="#" routerLink="/buscar">Aire en mi parque</a>
              </li>
              <li class="header__item">
                  <a class="header__link" href="#" routerLink="/reporte">Iniciar sesión</a>
              </li>
          </ul>
      </nav>
 
  </div>
  <div class="banner">
    <img  src="assets/img/med_clouds.png" >
  </div>
  
  <div class="buttons">
    <ul class="buttons_items">
        <li class="button_item_single">
            <img class="content__button" src="assets/img/park.png" >
            <p>Parques</p>
        </li>
        <li class="button_item_single">
            <img class="content__button" src="assets/img/calculator.jpg" >
            <p>Calculadora</p>
        </li>
        <li class="button_item_single">
            <img class="content__button" src="assets/img/data.webp" >
            <p>Datos</p>
        </li>

    </ul>

  </div>
  <!--<router-outlet></router-outlet>-->
</div>


