<div class="premium__container">
    <p class="banner__name">Entre las caracteristicas premium de Aire al Parque podras encontar:</p>
    <p class="welcome__font">Seguimiento de actividad fisica</p>
    <p class="welcome__font"> Asociación con EPS, Entidades Públicas e insitituciones interesadas; <br> 
        asociadas al cuidado y bienestar de adulto mayor, dónde los datos de salud relevantes <br>
        y de carácter sensible estarían disponibles para análisis de susceptibilidad <br>
        UNICAMENTE cuando se hayan seguido políticas de Tratamiento de Datos Sensibles <br>
        según la normatividad colombiana </p>
        

</div>
<div class="premium__image__container">    
    <img class="premium__image" src="assets/img/Tunal.jpg" >
</div>
