/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face {
    font-family: "Gothic";
    src: local("Gothic"), url(./assets/fonts/LeagueGothicRegular.otf) format("truetype");
}
.container {
    height: 100%;
    width: 100%;
            background: linear-gradient(to bottom, #0099cc 0%, #42a5f1 100%);
}

body {
    background: linear-gradient(to bottom, #0099cc 0%, #42a5f1 100%);
    font-family: "Gothic";
}



.header {
    color:yellow;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.header__logo {
    width: 250px;
    height: 188px;
    margin-left: 25px;
    font-weight: bold;
    border-radius: 30%;
}

.footer__logo {
    width: 250px;
    height: 163px;
    margin-left: 25px;
    font-weight: bold;
}

.header__listItems {
    display: flex;
    color: yellow;
}

.header__item {
    list-style: none;
    margin-right: 50px;
}

.header__link,
.header__link:active {
    text-decoration: none;
    color: yellow;
    font-family: "Gothic";
    font-size: 60px;
    text-transform: uppercase;
}


.buttons{
    padding-top: 50px;
}
.buttons_items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button_item_single{
    list-style: none;
    color: yellow;
    font-family: "Gothic";
    font-size: 40px;
    text-transform: uppercase;

}
.content__button{

    width: 240px;
    height: 240px;
    transform: translateY(-5px);

}
.banner{
    display: flex;
}
.parques_map{

    width: 960px;
    height:615px;
    
    
}
.parques_frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.font_data{
    color: rgb(7, 7, 133);
    font-family: "Gothic";
    font-size: 40px;
    text-transform: uppercase;
    padding-right: 25px;
    padding-left: 70px;
}
.select__form{
    font-family: "Gothic";
    font-size: 20px;
}
.btn_form{
    font-family: "Gothic";
    background:yellow;
    line-height: 60px;
    width: 250px;
    position: absolute;
    left: 50%;
    margin:0 0 0 -125px;
    border-radius: 6px;
    font-size: 3em;
    color:#015080;
    text-transform: uppercase;
}
.bot_header__link{
    text-decoration: none;
    color: #015080;;
    font-family: "Gothic";
    font-size: 25px;
    text-transform: uppercase;
    
}


.bot__telegram{
    display: flex;
    justify-content: right;
    
}
.bot_content__button{
    cursor: pointer;
    border: groove 0.3em grey;
    border-radius: 150%;
    width: 100px;
    height: 100px;
    transform: translateY(-10px);
    background-color: tomato;
    
    
}

.footer{
    background: url("assets/img/brown_bg.png");
    display: flex;
    height: 300px;
    padding-top: 30px;
    justify-content: space-around;
    
}

.footer__font{
    color:white;
    font-family: "Gothic";
    font-size: 25px;
    
    
    
}
.banner__name{
    
    text-decoration: none;
    color: #015080;;
    font-family: "Gothic";
    font-size: 50px;
    text-transform: uppercase;
    padding-left: 150px;
}

.content__button_calculator{
    width: 113px;
    height: 250px;

}
.formulario__content{
    padding-top: 30px;
    padding-left: 65px;
}
.formulario__embed{
    
    width: 960px;
    height:615px;
}
.select__multiple__form{
    padding-left: 65px;
    font-family: "Gothic";
    font-size: 20px;
    width:615px;

}
.font_data__white{
    padding-left: 65px;
    color:white;
    font-family: "Gothic";
    font-size: 25px; 
    
}