/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Gothic";
    src: local("Gothic"), url(./assets/fonts/LeagueGothicRegular.otf) format("truetype");
}
.container {
    height: 100%;
    width: 100%;
    background: #42a5f1;
}

body {
    background:#42a5f1;
    font-family: "Gothic";
}



.header {
    color:yellow;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 250px;
    height: 163px;
    margin-left: 25px;
    font-weight: bold;
}

.header__listItems {
    display: flex;
    color: yellow;
}

.header__item {
    list-style: none;
    margin-right: 50px;
}

.header__link,
.header__link:active {
    text-decoration: none;
    color: yellow;
    font-family: "Gothic";
    font-size: 60px;
    text-transform: uppercase;
}


.buttons{
    padding-top: 50px;
}
.buttons_items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button_item_single{
    list-style: none;
    color: yellow;
    font-family: "Gothic";
    font-size: 40px;
    text-transform: uppercase;

}
.content__button{

    width: 240px;
    height: 240px;
    transform: translateY(-5px);

}
.banner{
    display: flex;
}
